<!doctype html>

<html lang="de">
<head>
    <%- include head.ejs %>
</head>
<body>
    
    <video id="player" autoplay loop>
        <source src="static/media/<%= userid %>/video.mp4" type="video/mp4">
        <source src="static/media/<%= userid %>/video.webm" type="video/webm">
    </video>

    <div id="overlay">
        <%- include header.ejs %>
        <%- include footer.ejs %>
    </div>

    <div id="loading"><span id="loadingText" class="disableSelect">Loading...</span></div>
    
</body>
</html>